/* No border for iframe and shrink wrap */
iframe {
    height: 0px;
    width: 100%;
    overflow: hidden;
    border: none;
}

.course_table {
    margin: auto;
    width: 300px;
    background-color: lightgreen;
    border: black 1px solid;
    border-style: solid;
    
}

.course_table tr {
    color: white;
}

.course_table tr a {
    cursor: pointer;
}

.course_table th {
    border: black 1px solid;
    padding: 10px;
    background-color: darkcyan;
}

.course_table td {
    padding: 10px;
    text-align: center;
    color: black;
    border: black 1px solid;
}

/* Panel modify */
.left-panel {
    width: fit-content;
    text-align:left;
    display: inline-block; /* Make item dsiplay inline */
}

.right-panel {
    width: none;
}

button {
    min-height: 30px;
    min-width: 50px;
}

